:root {
    --bg-color: hsl(30, 54%, 90%);
    --bg-card-color: hsl(0, 0%, 100%);
    --card-color: hsl(332, 51%, 32%);
    --title-color: hsl(14, 45%, 36%);
    --prog-title: hsl(24, 5%, 18%);
    --prog-color: hsl(30, 10%, 34%);
    --line-color: hsl(30, 18%, 87%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--prog-title);
    font-family: "Young Serif", serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    max-width: 900px;
    background-color: var(--bg-card-color);
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 10px;
}


.Food-Image {
    width: 94%;
    max-width: 900px;
    border-radius: 10px;
    margin-top: 2rem ;
    margin-left: 1.5rem;
    
}
h2,h3{
    font-family:'Outfit', serif;
}

.text-menu {
    font-size: 20px;
    margin: 1rem 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

p {
    margin-top: 0.5rem;
}

.card-text-menu {
    background-color: var(--bg-color);
    margin-top: 1.5rem;
    margin-right:1rem ;
    padding: 1rem;
    border-radius: 4px;
}

.parag-card {
    padding: 0.5rem;
    color: var(--card-color);
    font-weight: bold;
}

ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: inherit;
}

ul li, ol li {
    margin-bottom: 0.5rem;
}

ul li::marker, ol li::marker {
    color: var(--card-color);
}

h3 {
    color: var(--title-color);
    padding: 1rem 0;
}

.table-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.line, .table-line {
    width: 90%;
    max-width: 550px;
    height: 1px;
    background-color: var(--line-color);
    margin: 0.5rem 0;
}

.g-coior {
    color: var(--title-color);
    font-weight: bold;
}

@media (max-width: 375px) {

    .attribution {
        margin: 0rem ;
       
    }
    .Food-Image {
        width: 100%;
        max-width: 375px;
        margin-top: 0 ;
        margin-left: 0;
    }
    
  
}
